/*variables*/
/*mixins*/
header {
  border: 1px solid black;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
}
header .container-head {
  background: linear-gradient(to right, #ffffff00 50%, #e94e38 50%);
  display: flex;
  justify-content: center;
}
header .container-head .head-block {
  background-color: white;
  margin-left: auto;
}
header .container-head .head-block .global-navigation {
  display: flex;
  position: relative;
}
header .container-head .head-block .global-navigation .logo {
  padding: 15px 0;
}
header .container-head .head-block .global-navigation .navigation {
  margin: 0;
  padding: 30px 0;
  padding-left: 70px;
}
header .container-head .head-block .global-navigation .navigation li {
  display: inline-block;
  margin-right: 15px;
}
header .container-head .head-block .global-navigation .navigation li a {
  display: block;
  text-decoration: none;
  color: #9ca9aa;
  position: relative;
}
header .container-head .head-block .global-navigation .navigation li a:hover:after {
  content: '';
  width: 100%;
  border-bottom: 2px solid #9ca9aa;
  display: block;
  position: absolute;
}
header .container-head .head-block .global-navigation .navigation li a:active {
  border-bottom: 2px solid grey;
  color: grey;
}
header .container-head .head-block .global-navigation .global-search {
  background: #e2dee0;
  padding: 25px;
  position: relative;
}
header .container-head .head-block .global-navigation .global-search .search-show {
  display: none;
  position: absolute;
  right: 73px;
  padding: 24px;
  background-color: #e2dee0;
  top: 0;
  width: 0;
}
header .container-head .head-block .global-navigation .global-search .search-show input {
  display: none;
  width: 350px;
  border-radius: 15px;
  border: none;
  height: 30px;
  padding: 10px;
}
header .container-head .head-block .global-navigation .global-search .search-show input:focus {
  outline: none;
}
header .container-head .head-block .global-navigation .global-search .search-icon {
  background: url("../images/icon-sprite.png") left top no-repeat;
  width: 23px;
  height: 23px;
}
header .container-head .head-block .global-navigation .global-search .search-icon:hover {
  filter: contrast(0.6);
}
header .container-head .login {
  background-color: #e94e38;
  padding: 30px;
  padding-left: 70px;
  margin-right: auto;
  color: white;
  position: relative;
  cursor: pointer;
}
header .container-head .login:hover {
  box-shadow: inset 20px 2px 20px -5px #83281d63;
}
header .container-head .login:active {
  box-shadow: inset 20px 2px 20px -5px rgba(97, 27, 22, 0.66);
}
header .container-head .login:before {
  content: '';
  position: absolute;
  top: 26px;
  left: 40px;
  background: url(../images/icon-sprite.png) -28px 0 no-repeat;
  width: 15px;
  height: 15px;
}
header form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.53);
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
  padding: 15px;
  box-sizing: border-box;
}
header form .close {
  background: #afafaf;
  height: 20px;
  width: 3px;
  position: relative;
  left: 98%;
  transform: rotate(45deg);
}
header form .close:after {
  content: "";
  height: 3px;
  width: 20px;
  background: #afafaf;
  position: absolute;
  left: -8px;
  top: 8px;
  transform: rotate(0deg);
}
header form .close:hover {
  background: white;
}
header form .close:hover:after {
  background: white;
}
header form h2 {
  color: white;
  text-align: center;
  text-transform: none;
  font-size: 25px;
  margin-top: 0;
}
header form .social-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
header form .social-buttons button {
  height: 35px;
  flex-grow: 1;
  border-radius: 5px;
  border: none;
  background-image: linear-gradient(to right, #e94e38 0%, #e96e58 51%, #e92727 100%);
  transition: 0.5s;
  background-size: 200% auto;
  display: block;
}
header form .social-buttons button:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
header form .social-buttons button:hover a:before {
  filter: drop-shadow(#fffaf3);
}
header form .social-buttons button:active {
  background-image: linear-gradient(to right, #cb4331 0%, #c15b49 51%, #b51e1e 100%);
}
header form .social-buttons button:active a {
  filter: opacity(0.5);
}
header form .social-buttons button a {
  display: block;
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 16px;
}
header form .social-buttons .facebook-button {
  margin-right: 5px;
}
header form .social-buttons .facebook-button a:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 20%;
  background: url(../images/icon-sprite.png) -439px 0 no-repeat;
  width: 14px;
  height: 20px;
}
header form .social-buttons .google-button a:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 18%;
  background: url(../images/icon-sprite.png) -454px 0 no-repeat;
  width: 20px;
  height: 20px;
}
header form input {
  width: 100%;
  margin-top: 5px;
  height: 30px;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  padding: 5px;
}
header form input:focus {
  outline: none;
}
header form label {
  color: white;
}
header form .login-button {
  margin-top: 15px;
  height: 35px;
  flex-grow: 1;
  border: none;
  color: white;
  font-family: Gotham-Medium;
  border-radius: 5px;
  background-image: linear-gradient(to right, #e94e38 0%, #e96e58 51%, #e92727 100%);
  transition: 0.5s;
  background-size: 200% auto;
  display: block;
}
header form .login-button:hover {
  background-position: right center;
  /* change the direction of the change here */
  text-decoration: none;
}
header form .login-button:active {
  background-image: linear-gradient(to right, #cb4331 0%, #c15b49 51%, #b51e1e 100%);
  color: rgba(255, 255, 255, 0.55);
  outline: none;
}
@font-face {
  font-family: 'Gotham Medium';
  src: url('https://nomail.com.ua/files/eot/77171d8f5b5283f9d47a3434704bf944.eot?#iefix') format('embedded-opentype'), url('https://nomail.com.ua/files/woff/77171d8f5b5283f9d47a3434704bf944.woff') format('woff'), url('https://nomail.com.ua/files/woff2/77171d8f5b5283f9d47a3434704bf944.woff2') format('woff2');
}
@font-face {
  font-family: 'Gotham-Medium';
  src: local('Gotham-Medium'), url('https://nomail.com.ua/files/woff/77171d8f5b5283f9d47a3434704bf944.woff') format('woff');
}
body {
  margin: 0;
  font-family: 'Gotham Medium';
  box-sizing: border-box;
}
