@import "http://fonts.fontstorage.com/import/acme.css";
body{
    background-color: darkslategrey;
    color: whitesmoke;
    font-family:Gabriola;
    display: flex;
    justify-content: center;
}
h1{
    font-size: 80px;
    font-family: Acme;
}