
.features-block {
    padding-top: 90px;

    h1 {
        font-size: 22px;
        font-weight: normal;
        display: block;
        width: fit-content;
        margin: 0 auto;
        color: @postgrey;
    }

    p {
        width: fit-content;
        margin: 10px auto;
        color: #bfbfbf;
        font-family: Verdana;
    }

    .features {
        width: fit-content;
        margin: 70px auto 0;

        @media screen and(max-width: 405px){
            display: none;
        }

        ul {
            padding: 0;
        }

        .feature-item {
            border: 2.5px solid @grey;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            position: relative;
            display: inline-block;

            &.ui-tabs-active{

                i:before{
                    color: @green;
                }
                border-color: @green ;

                &.people,&.event{
                    i:before{
                        color: @yellow;
                    }
                    border-color: @yellow;
                }

                &.transport,&.education{
                    i:before{
                        color: @purple;
                    }
                    border-color: @purple;
                }
            }

            &:hover {
                border-color: @green;

                i {
                    color: @green;
                }
            }

            &:not(:last-of-type) {
                margin-right: 60px;

                &:after {
                    content: "";
                    position: absolute;
                    width: 55px;
                    border-bottom:2.5px solid @lightgrey ;
                    top: 50%;
                    left: 106%;
                }
            }

            i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 45px;
                color: @grey;
            }

            &.transport,&.education {
                &:hover {
                    border-color: @purple;

                    i{
                        color: @purple;
                    }
                }
            }

            &.event, &.people {
                &:hover {
                    border-color: @yellow;

                    i {
                        color: @yellow;
                    }
                }
            }
        }

        .feature-information {
            width: fit-content;

            h3 {
            width: fit-content;
            margin: 40px auto 40px;
            font-size: 24px;
            font-weight: normal;
            color: @green;
            }

            p {
                display: inline-block;
                width: 270px;
                padding-left: 100px;
                color: #566375;
                position: relative;
                vertical-align: top;
                margin: 0 auto;
                font-family: Verdana;
                font-size: 14px;

                &:before {
                    content: '';
                    display: block;
                    width: 63px;
                    height: 63px;
                    border-radius:50%;
                    position: absolute;
                    left: 5px;
                    background: #1BAF53 url(../images/icon-sprite.png) -453px 4px no-repeat;
                    background-size: cover;
                }

                &:first-of-type {
                    margin-right:35px;

                    &:before {
                        background: #1BAF53 url(../images/icon-sprite.png) -407px 4px no-repeat;
                        background-size: cover;
                    }
                }
            }

            &.people, &.event {
                 h3 {
                     color: @yellow;
                 }
                 p:before {
                     background-color: @yellow ;
                 }
             }

            &.transport,&.education {
                h3 {
                    color: @purple;
                }
                p:before {
                    background-color: @purple ;
                }
            }
        }
    }
}

footer {
    background: url("../images/search-background.jpg");
    background-size: cover;
    width: 100%;
    padding: 60px 0 40px;

    .subscribe-block {
        width: 65%;
        margin: 0 auto;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);

        h3 {
            width: fit-content;
            margin: 0 auto;
            font-size: 24px;
            font-weight: normal;
            color: white;
        }

        .subscribe-item {
            width: 505px;
            height: 65px;
            margin: 50px auto;
            background-color: rgba(255, 255, 255, 0.11);
            border-radius: 50px;
            position: relative;
            border: 1px solid rgba(255, 255, 255, 0.11);

            @media screen and(max-width: 945px){
                display: none;
            }

            &:before{
                content: '';
                position: absolute;
                left: 30px;
                top: 25px;
                width: 20px;
                height: 15px;
                background: url(../images/icon-sprite.png) -444px -17px no-repeat;
            }

            input[type="email"] {
                display: inline-block;
                width: 200px;
                position: absolute;
                top: 18px;
                left: 60px;
                border: none;
                background:none;
                color: rgba(255, 255, 255, 0.75);
                font-size: 18px;
                font-family: Verdana;

                &:focus{
                    outline: none;
                }
            }

            input[type="email"]::-webkit-input-placeholder {
                color: rgba(255, 255, 255, 0.6);
            }
            input[type="email"]::-moz-placeholder {
                color: rgba(226, 222, 224, 0.6);
            }
            button {
                position: absolute;
                top: 6%;
                right: 1%;
                width: 133px;
                height: 88%;
                border-radius: 40px;
                border: none;
                background-color: @red;
                color: white;
                font-size: 16px;
                text-transform: uppercase;

                &:hover{
                    box-shadow: inset 3px 1px 20px 8px #83281d9e;
                    color: rgba(255, 255, 255, 0.85);
                    outline: none;
                    border: none;
                }

                &:active {
                    box-shadow: inset 3px 1px 20px 19px rgb(116 20 17 / 62%);
                    color: rgba(255, 255, 255, 0.55);
                    outline: none;

                }
                &:focus {
                    outline: none;
                }
            }
        }
    }

    .bottom-footer{
        display: flex;
        justify-content: space-around;
        color: rgba(255, 255, 255, 0.5);
        font-family: Verdana;
        font-size: 14px;
        margin: 40px 150px 0 90px;

        .footer-title{
            text-decoration: underline;
            font-size: 16px;
            font-family: @default-font-family;
            color: rgba(255, 255, 255, 0.8);
            margin-top: 0;
        }

        .footer-list {

            margin-top: 0;

            li {
                list-style: none;
                line-height: 24px;
            }
        }

        .socials {

            .soc {
                display: inline-block;
                width: 30px;
                height: 35px;
                margin-right: 5px;
                background:url("../images/icon-sprite.png") -480px -7px no-repeat;

                &.fb {
                    width: 23px;
                }
                &.tw {
                    background-position: -516px -6px;
                }
                &.gl {
                    background-position: -561px -6px;
                }
                &.yb {
                    background-position: -601px -6px;
                }
            }
        }
        .copyright {
            margin-top: 40%;
            margin-bottom: 0;
        }
    }
}
