main {
    background-color: #f3f1f2;
    font-family: @default-font-family;
    font-size: @default-font-size;
    padding-bottom: 140px;
    overflow: auto;

    @media screen and(max-width: 744px){
       padding-bottom: 70px;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 210px);
    grid-gap: 30px 35px;
    margin: 0 auto;
    padding-top: 45px;
    width: fit-content;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 1px solid @lightgrey;

    @media screen and(max-width: 955px){
        grid-template-columns: repeat(3, 210px);
    }
    @media screen and(max-width: 750px) {
        grid-template-columns: repeat(2, 210px);
        grid-gap: 20px 25px;
    }
    @media screen and(max-width: 480px) {
        grid-template-columns: repeat(1, 90%);
    }
}

//difference style for items

.event {

    .image-post {
        background-image: url("../images/event.jpg");
        border-color: @yellow;

        &:before {
            display: none;
        }
        &:after {
            background: @yellow url(../images/icon-sprite.png) -318px -3px no-repeat;
            background-size: 980px;
        }
    }
    .title-info {
        color: @yellow;
    }
}

.event-big {

    @media screen and(max-width: 955px){
    grid-column: ~"1/3"
    }

    .image-post {
        background-image:linear-gradient(176deg, rgba(93, 93, 93, 0) 40%, rgb(0 0 0) 100%),
                            url("../images/event-big.jpg");
        border-color: @yellow;

        &:before {
            display: none;
        }
        &:after {
            background: @yellow url(../images/icon-sprite.png) -318px -4px no-repeat;
            background-size: 980px;
        }
    }

    .information-post {
        &:before {
            background: #E2DEC0 url(../images/avatar.jpg) -300px 0px no-repeat;
            background-size: 360px;
        }

        .title-info {
            color: white;
        }
    }
}

.transport {
    .image-post {
        background-image: url("../images/accomodation.jpg");
        border-color: @purple;

        &:before {
            display: none;
        }
        &:after {
            background: @purple url(../images/icon-sprite.png) -371px -4px no-repeat;
            background-size: 980px;
        }
    }

    .title-info {
        color: @purple;
    }
}

// load button

.load {
    text-align: center;
    color: @postgrey;
    text-decoration: none;
    grid-column: ~'1/-1';
    width: 300px;
    margin: 0 auto;

    &:after {
        content: '➟';
        display: block;
        position: relative;
        top: -17px;
        left: 50px;
    }

    &:before {
        content: '';
        display: block;
        width: 25%;
        position: relative;
        border-bottom: 1px solid @grey;
        top: 14px;
        left: 112px;
    }

    &:hover {
        &:after {
            transform: translate(10px);
        }
    }
}
